*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

/*NavBar starts here...*/
nav {
    z-index: 2;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    font-weight: lighter;
    font-size: small;

    /*Glass Panel*/
    background: rgba( 0, 0, 0, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 12px );
    border-bottom: 0.5px solid rgba( 0, 0, 0, 0.0 );
    box-shadow: 0px 0px 1px 1px rgba(58, 50, 29, 0.11);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    /* color: black; */
    padding: 15px;

    transition: all 0.2s ease-in-out;
}

.nav-links a:hover{
    color: darkgray;

    transition: all 0.2s ease-in-out;
}

.logo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
}
.logo {
    padding-inline: 9.5px;
}

.logo img:hover {
    box-shadow: 0px 0px 8px 1px rgba(58, 50, 29, 0.1);
    transform: scale(1.23);
    transition: all 0.25s ease-in-out;
}

.logo a{
    display: flex;
}

.cart {
    list-style: none;
    text-decoration: none;
    color: white;
    /* color: black; */
    padding-inline: 19px;
    padding-top: 14px;
    padding-bottom: 14px;

    transition: all 0.2s ease-in-out;
}

.cart:hover {
    color: darkgray;

    transition: all 0.2s ease-in-out;
}

.courseIconLinks {
    z-index: 1;
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 44px; */
    opacity: 0;
    min-height: 6vh;
    align-items: center;
    position: fixed;

    /*Glass Panel*/
    background: rgba( 0, 0, 0, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 9px );
    border-bottom: 0.5px solid rgba( 255, 255, 255, 0.2 );
    /* box-shadow: 0px 1px 0.1px 0px rgba(58, 50, 29, 0.11); */
}
.courseIconLinks ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

.courseIconLinks a {
    /* color: black; */
    color: white;
}

.courseIconLinks a:hover {
    color: gray;
}

@keyframes moveIconLinks {
    from {
        opacity: 0;
        transform: translateY(0px);
    }

    to {
        opacity: 1;
        transform: translateY(44px);
    }
}
/*NavBar ends here...*/

.contactImage {    
    width: 100%;
    height: 500px;
    object-fit: cover;
}

h1 {
    display: table;
    margin: 0 auto;
    padding-top: 100px;
    padding-bottom: 50px;
    font-weight: 400;
    font-size: 40px;
    text-transform: capitalize;
}

.subheadlines {
    padding-top: 50px;
}
h3, h4 {
    display: table;
    margin: 0 auto;
    color: grey;
    font-weight: lighter;
}

h4 {
    color: black;
    padding-bottom: 10px;
}

.socials ul{
    padding-top: 20px;
    display: flex;
    list-style: none;
    justify-self: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.socials li {
    font-size: 35px;
    padding: 30px;
    padding-inline: 50px;
    transition: all 0.3s ease-in-out;
}

.socials li:hover {
    transform: scale(1.2, 1.2);
    
}

.socials a{
    color: black;   
    padding: 30px; 
}

.socials a:hover {
    transition: all 0.3s ease-in-out;
}

#insta {
    transform: scale(1.2, 1.2);
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

#face {
    transform: scale(1.2, 1.2);
    color: #3B5998;
}

#twit {
    transform: scale(1.2, 1.2);
    color: #00ACEE;
}

hr {
    display: table;
    margin: 0 auto;
    margin-top: 50px;
    width: 80%;
    background-color: lightgrey;
    border: 0.1px solid lightgray;
}

.contactForm ul {
    display: table;
    margin: 0 auto;
    padding-top: 50px;
    list-style: none;
    justify-content: center;
    justify-self: center;
    text-align: center;
}

.contactForm li {
    padding-top: 10px;
    padding-bottom: 10px;
}

input, textarea {
    width: 350px;
    border-radius: 5px;
    padding: 10px;
    border-style: none;
    background-color: rgb(236, 236, 236);

}

.contactForm label {
    font-weight: lighter;
}

/* The Footer */
footer {
    padding-top: 80px;
}
footer hr {
    display: table;
    margin: 0 auto;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    width: 90%;
}

.footerLinks ul{
    display: flex;
    list-style: none;
    padding-top: 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footerLinks ul li {
    padding-inline: 60px;
    padding-bottom: 30px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
}

.footerLinks a {
    text-decoration: none;
    color: grey;
    transition: all 0.2s ease-in-out;
}

.footerLinks a:hover {
    color: black;
    transition: all 0.2s ease-in-out;
}
/* The Footer ends here */