*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

/*NavBar starts here...*/
nav {
    /* <!-- Added this : copy to other pages --> */
    z-index: 3;
    /* <!-- Added this : copy to other pages --> */
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    font-weight: lighter;
    font-size: small;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 12px );
    border-bottom: 0.5px solid rgba( 0, 0, 0, 0.0 );
    box-shadow: 0px 0px 1px 1px rgba(58, 50, 29, 0.11);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    /* color: white; */
    color: black;
    padding: 15px;

    transition: all 0.2s ease-in-out;
}

.nav-links a:hover{
    color: darkgray;

    transition: all 0.2s ease-in-out;
}

.logo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
}
.logo {
    padding-inline: 9.5px;
}

.logo img:hover {
    box-shadow: 0px 0px 8px 1px rgba(58, 50, 29, 0.1);
    transform: scale(1.23);
    transition: all 0.25s ease-in-out;
}

.logo a{
    display: flex;
}

.cart {
    list-style: none;
    text-decoration: none;
    /* <!-- Added this : copy to other pages --> */
    border: none;
    background-color: transparent;
    /* <!-- Added this : copy to other pages --> */
    /* color: white; */
    color: black;
    padding-inline: 19px;
    padding-top: 14px;
    padding-bottom: 14px;

    transition: all 0.2s ease-in-out;
}

.cart:hover {
    color: darkgray;
    /* <!-- Added this : copy to other pages --> */
    cursor: pointer;
    /* <!-- Added this : copy to other pages --> */
    transition: all 0.2s ease-in-out;
}

.courseIconLinks {
    /* <!-- Added this : copy to other pages --> */
    z-index: 2;
    /* <!-- Added this : copy to other pages --> */
    display: flex;
    margin: 0 auto;
    width: 100%;
    justify-content: space-around;
    /* margin-top: 44px; */
    opacity: 0;
    min-height: 6vh;
    align-items: center;
    position: fixed;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 9px );
    border-bottom: 0.5px solid rgba( 255, 255, 255, 0.2 );
    /* box-shadow: 0px 1px 0.1px 0px rgba(58, 50, 29, 0.11); */
}
.courseIconLinks ul {
    display: flex;
    list-style: none;
    justify-content: space-around;
    width: 50%;
}

.courseIconLinks a {
    color: black;
}

.courseIconLinks a:hover {
    color: gray;
}

@keyframes moveIconLinks {
    from {
        opacity: 0;
        transform: translateY(0px);
    }

    to {
        opacity: 1;
        transform: translateY(44px);
    }
}

/* <!-- Added this : copy to other pages --> */
.miniCart {
    z-index: 1;
    position: fixed;
    right: 0;
    list-style: none;
    margin-top: 44px;
    height: 100%;
    width: 25%;
    
    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 9px );
    border-left: 0.5px solid rgba( 255, 255, 255, 0.9 );
    box-shadow: 0px 0px 90px 40px rgba(58, 50, 29, 0.11);

    transform: translateX(150%);
    transition: all 0.3s ease-in-out;
}

.miniCart li {
    padding: 20px;
    font-weight: lighter;
    font-size: 13px;
    display: flex;
    justify-content: space-between;
}

.miniCart button {
    border: none;
    border-radius: 4px;
    padding-inline: 10px;
}

.miniCart a {
    display: table;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 10px;
    background-color: lightgray;
    padding: 10px;
    padding-inline: 30px;
    border-radius: 5px;
    text-decoration: none;
    color: black;
    font-weight: lighter;
    font-size: small;
}

.miniCart a:hover {
    color: white;
    background-color: rgb(177, 177, 177);
}

@keyframes moveMiniCart {
    from {
        transform: translateX(150%);
        transition: all 0.3s ease-in-out;
    }

    to {
        transform: translateX(0%);
        transition: all 0.3s ease-in-out;
    }
    
}
/* <!-- Added this : copy to other pages --> */
/*NavBar ends here...*/

h1 {
    display: table;
    margin: 0 auto;
    padding-top: 100px;
    font-weight: 400;
}

.courseButtons ul{
    display: flex;
    list-style: none;
    justify-content: center;
    justify-self: center;
    justify-items: center;
    flex-wrap: wrap;

    padding: 50px;
    padding-inline: 60px;
}

.courseButtons li {
    border-radius: 20px;
    width: 330px;
    height: 300px;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 12px );
    border: 1px solid rgba( 255, 255, 255, 0.7 );
    box-shadow: 0px 10px 50px 1px rgba(143, 139, 128, 0.2);
    transition: all 0.2s ease-in-out;
}

.courseButtons li:hover {
    box-shadow: 0px 40px 90px 1px rgba(58, 50, 29, 0.15);
    transition: all 0.2s ease-in-out;
}

.courseButtons li {
    margin: 30px;
    margin-bottom: 50px;
    text-decoration: none;
    color: black;
    text-align: center;
    transition: all 0.2s ease-in-out;
}

.courseButtons li:hover {
    transform: scale(1.15, 1.15);
    transition: all 0.2s ease-in-out;
}

.courseButtons a {
    text-decoration: none;
    color: black;
}

.courseButtons h3 {
    padding-top: 30px;
    padding-bottom: 20px;
}

.courseButtons p {
    padding-top: 15px;
    padding-bottom: 15px;
    font-weight: lighter;
}

.courseButtons i {
    padding-inline: 15px;
}

.courseButtons button {
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: transparent;
    text-transform: uppercase;
    color: gray;
}

.courseButtons button:hover {
    color: black;
}

/* The Footer */
footer {
    padding-top: 80px;
}
footer hr, hr {
    display: table;
    margin: 0 auto;
    border: 0.1px solid lightgrey;
    border-radius: 10px;
    width: 90%;
}

.footerLinks ul{
    display: flex;
    list-style: none;
    padding-top: 30px;
    justify-content: center;
    justify-items: center;
    text-align: center;
    flex-wrap: wrap;
}

.footerLinks ul li {
    padding-inline: 60px;
    padding-bottom: 30px;
    font-weight: lighter;
    font-size: small;
    text-align: center;
}

.footerLinks a {
    text-decoration: none;
    color: grey;
    transition: all 0.2s ease-in-out;
}

.footerLinks a:hover {
    color: black;
    transition: all 0.2s ease-in-out;
}
/* The Footer ends here */