*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    font-weight: lighter;
    font-size: small;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 12px );
    border: 0.5px solid rgba( 255, 255, 255, 0.98 );/*0.28*/
    box-shadow: 0px 0px 1px 1px rgba(58, 50, 29, 0.11);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    /* color: lightgray; */
    color: black;
    padding: 15px;

    transition: all 0.2s ease-in-out;
}

.nav-links a:hover{
    /* color: white; */
    color: lightgray;

    transition: all 0.2s ease-in-out;
}

.logo {
    font-weight: bold;
    /* color: lightgray; */
    color: black;
}

.cart {
    /* font-weight: bold; */
    list-style: none;
    text-decoration: none;
    /* color: lightgray; */
    color: black;
    padding-inline: 12px;
    padding-top: 14px;
    padding-bottom: 14px;

    transition: all 0.2s ease-in-out;
}

.cart:hover {
    /* color: white; */
    color: lightgray;

    transition: all 0.2s ease-in-out;
}

h1, h3 {
    display: table;
    margin: 0 auto;
    font-size: 300%;
    
    padding-top: 70px;
}

h3 {
    font-size: larger;
    font-weight: lighter;
    padding-top: 20px;
}