*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

/*NavBar starts here...*/
nav {
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    font-weight: lighter;
    font-size: small;

    /*Glass Panel*/
    background: rgba( 255, 255, 255, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 12px );
    border: 0.5px solid rgba( 255, 255, 255, 0.38 );/*0.28*/
    box-shadow: 0px 0px 1px 1px rgba(58, 50, 29, 0.11);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: black;
    padding: 15px;

    transition: all 0.2s ease-in-out;
}

.nav-links a:hover{
    color: lightgray;

    transition: all 0.2s ease-in-out;
}

.logo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
}
.logo {
    padding-inline: 9.5px;
}

.logo img:hover {
    box-shadow: 0px 0px 8px 1px rgba(58, 50, 29, 0.1);
    transform: scale(1.23);
    transition: all 0.25s ease-in-out;
}

.logo a{
    display: flex;
}

.cart {
    list-style: none;
    text-decoration: none;
    color: black;
    padding-inline: 19px;
    padding-top: 14px;
    padding-bottom: 14px;

    transition: all 0.2s ease-in-out;
}

.cart:hover {
    color: lightgray;

    transition: all 0.2s ease-in-out;
}
/*NavBar ends here...*/

h1, h3 {
    display: table;
    margin: 0 auto;
    font-size: 300%;
    
    padding-top: 100px;
}

h3 {
    font-size: larger;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 40px;
}

.paymentMethods {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.paymentMethods h1, .paymentMethods h2{
    display: table;
    margin: 0 auto;
    text-align: center;

    padding: 40px;
}
.paymentMethods h2 {
    padding: 25px;
    font-weight: lighter;
}
.paymentMethods ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.paymentMethods li {
    padding: 50px;
}