*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: Helvetica;
}

/*NavBar starts here...*/
nav {
    z-index: 1;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 6vh;
    font-weight: lighter;
    font-size: small;

    /*Glass Panel*/
    background: rgba( 0, 0, 0, 0.7 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 12px );
    border: 0.5px solid rgba( 0, 0, 0, 0.0 );/*0.28*/
    box-shadow: 0px 0px 1px 1px rgba(58, 50, 29, 0.11);
}

.nav-links{
    display: flex;
    justify-content: space-around;
    width: 50%;
}

.nav-links li{
    list-style: none;
}

.nav-links a {
    text-decoration: none;
    color: white;
    padding: 15px;

    transition: all 0.2s ease-in-out;
}

.nav-links a:hover{
    color: darkgray;

    transition: all 0.2s ease-in-out;
}

.logo img{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    transition: all 0.25s ease-in-out;
}
.logo {
    padding-inline: 9.5px;
}

.logo img:hover {
    box-shadow: 0px 0px 8px 1px rgba(58, 50, 29, 0.1);
    transform: scale(1.23);
    transition: all 0.25s ease-in-out;
}

.logo a{
    display: flex;
}

.cart {
    list-style: none;
    text-decoration: none;
    color: white;
    padding-inline: 19px;
    padding-top: 14px;
    padding-bottom: 14px;

    transition: all 0.2s ease-in-out;
}

.cart:hover {
    color: darkgray;

    transition: all 0.2s ease-in-out;
}
/*NavBar ends here...*/

.intros h1, .intros h3, .intros h2 {
    display: table;
    margin: 0 auto;
}
h1, h3 {
    font-size: 300%;
    text-align: center;
    padding-top: 100px;
}

h2 {
    padding: 30px;
    padding-bottom: 50px;
    padding-inline: 150px;
    text-align: center;
}

h3 {
    font-size: larger;
    font-weight: lighter;
    padding-top: 20px;
    padding-bottom: 40px;
}

.computerScience {
    
}
.computerScience img{
    display: table;
    margin: 0 auto;
    width: 88%;
    height: 100%;
    padding: 20px;
    border-radius: 30px;
}

.comSciPicText {
    position: absolute;
    top: 90%;
    left: 50%;
    color: white;
    font-weight: bolder;
    text-transform: capitalize;
    transform: translate(-50%, -40%);
    text-align: center;
    opacity: 0;

    /*Glass Panel*/
    background: rgba( 0, 0, 0, 0.4 );
    background-size: 10px;
    backdrop-filter: blur( 4px );
    -webkit-backdrop-filter: blur( 6px );
    border: 0.5px solid rgba( 255, 255, 255, 0.40 );/*0.28*/
    box-shadow: 0px 25px 30px 5px rgba(0, 0, 0, 0.4);

    padding: 30px;
    border-radius: 10px;
}

.paymentMethods {
    background-color: black;
    color: white;
    padding-top: 50px;
    padding-bottom: 50px;
}
.paymentMethods h1, .paymentMethods h2{
    display: table;
    margin: 0 auto;
    text-align: center;

    padding: 40px;
}
.paymentMethods h2 {
    padding: 25px;
    font-weight: lighter;
}
.paymentMethods ul {
    list-style: none;
    display: flex;
    margin: 0 auto;
    align-self: center;
    justify-content: center;
    justify-items: center;
    flex-wrap: wrap;
}

.paymentMethods li {
    padding: 50px;
}